extends layout

block content
  div#quotes
    each quote in quotes
      a(name="q#{quote.id}")
      div(id="q#{quote.id}").quote
        p.text !{quote.text}
        p.controls
          a(href="" ng-click="voteQuote(#{quote.id}, 1)").voteUp +
          span(id="r#{quote.id}").rating #{quote.rating}
          a(href="" ng-click="voteQuote(#{quote.id}, -1)").voteDown −
          a(href="#q#{quote.id}" ng-click="openComments(#{quote.id})").quote-comments-button.fa.fa-comments-o
          span.quote_date #{quote.date}
          a(href="/q#{quote.id}").quote_id ##{quote.id}
        div(id="quote-comments-#{quote.id}").comments.hidden
          form(ng-submit="submitComment(#{quote.id})")
            textarea(id="comment-add-text-#{quote.id}" name="text" placeholder="Your comment text")
            input(type="submit" value="").button.fa.fa-send
          p(ng-if="commentCache[#{quote.id}] == null").comments-message Loading comments...
          p(ng-if="commentCache[#{quote.id}].length == 0").comments-message No comments
          div(ng-repeat="comment in commentCache[#{quote.id}]" id="c{{comment.id}}").comment
            p(ng-bind-html="comment.text").text
            p.info
              span(ng-bind="comment.date").comment-date
